$karma-color: $brand-primary !default;
$karma-error-color: $brand-danger;

.form-label-inline {
  .form-group {
    position: relative;
    @include transition(all 0.2s);

    &.has-error {
      .form-control {
        border-color: $karma-error-color;
      }
      label {
        &.in {
          color: $karma-error-color;
        }
        &.error {
          color: $karma-error-color;
          font-size: $font-size-small;
          margin-left: 13px;
          margin-top: 5px;
        }
      }
    }
  }

  fieldset:not(:last-child) {
    margin-bottom: $font-size-large;
  }

  legend {
    color: $gray;
    font-weight: 500;
    font-size: $font-size-base;
    margin-bottom: 10.5px;
  }

  label {
    font-size: $font-size-base;
    font-weight: 400;
    &.in {
      @include transition(color 0.2s);
      font-size: $font-size-small;
      font-weight: 500;
      padding-right: $font-size-small;
      color: $gray-light;
      position: absolute;
      z-index: 1000;
      left: 13px;
      top: 7px;
    }
  }
  .form-control,
  .select2-choice > .select2-chosen, {
    @include transition(border 0.2s);
    font-size: $font-size-large;
    padding-bottom: 6px;
    padding-top: 23px;
    border-color: $input-border;
    box-shadow: none;
    min-height: 56px;
  }

  input, textarea, select {
    &:focus {
      border-color: darken($input-border, 20%);
      + label {
        color: $karma-color;
      }
    }

    &.required + label:after {
      color: $karma-error-color;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      content: "*";
      line-height: 1.25;
    }
  }
}

@media (min-width: $screen-md) {
  .form-label-inline fieldset .row {
    .col-xs-3:first-child,
    .col-sm-3:first-child,
    .col-md-3:first-child {
      padding-right: 6px;
      padding-left: 15px;
    }
  }
}

@media (min-width: $screen-md) {
  .form-label-inline fieldset .row {
    .col-xs-3:first-child + .col-xs-6,
    .col-sm-3:first-child + .col-sm-6,
    .col-md-3:first-child + .col-md-6 {
      padding-right: 6px;
      padding-left: 6px;
    }
  }
}

@media (min-width: $screen-md) {
  .form-label-inline fieldset .row {
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-xs-8 + .col-xs-4:last-child,
    .col-sm-8 + .col-sm-4:last-child,
    .col-md-8 + .col-md-4:last-child,
    .col-xs-6:last-child,
    .col-sm-6:last-child,
    .col-md-6:last-child {
      padding-left: 6px;
    }
  }
}

@media (min-width: $screen-md) {
  .form-label-inline fieldset .row {
    .col-xs-8:first-child,
    .col-sm-8:first-child,
    .col-md-8:first-child,
    .col-xs-6:first-child,
    .col-sm-6:first-child,
    .col-md-6:first-child {
      padding-right: 6px;
    }
  }
}
