.form-label-inline {
  .form-group {
    position: relative;
    margin-bottom: 11px;
    @include transition(all 0.2s);

    &.has-error {
      .form-control {
        border-color: $brand-danger;
        //        color: $brand-danger;
      }
      label {
        &.in {
          color: $brand-danger;
        }
        &.error {
          color: $brand-danger;
          font-size: 12px;
          margin-left: 13px;
          margin-top: 5px;
        }
      }
    }
  }

  fieldset:not(:last-child) {
    margin-bottom: 18px;
  }

  legend {
    color: $gray;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10.5px;
  }

  label {
    font-size: 14px;
    font-weight: 400;
    &.in {
      @include transition(color 0.2s);
      font-size: 12px;
      font-weight: 500;
      padding-right: 12px;
      color: $gray-light;
      position: absolute;
      z-index: 1000;
      left: 13px;
      top: 7px;
    }
  }
  .input-vertical-base, input[type="text"] {
    min-height: 56px;
  }

  input {
    &[type="text"] {
      @include transition(border 0.2s);

      font-size: 18px;
      padding-bottom: 6px;
      padding-top: 23px;
      border-color: $gray-light;
      letter-spacing: -0.02em;
    }

    &[type="email"], &[type="password"] {
      @include transition(border 0.2s);

      font-size: 18px;
      padding-bottom: 6px;
      padding-top: 23px;
      border-color: $gray-light;
      letter-spacing: -0.02em;
      min-height: 56px;
    }
    &:focus {
      border-color: lighten($brand-primary, 20%);
      + label {
        color: $brand-primary;
      }
    }
    &.required + label:after {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      content: "*";
      line-height: 1.25;
    }
  }
}

textarea {
  @include transition(border 0.2s);
  min-height: 56px;
  font-size: 18px;
  padding-bottom: 6px;
  padding-top: 23px;
  border-color: $gray-light;
  letter-spacing: -0.02em;
}

textarea.required + label:after,
select.required + label:after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  content: "*";
  line-height: 1.25;
}

@media (min-width: $screen-md) {
  .form-label-inline fieldset .row {
    .col-xs-3:first-child,
    .col-sm-3:first-child,
    .col-md-3:first-child {
      padding-right: 6px;
      padding-left: 15px;
    }
  }
}

@media (min-width: $screen-md) {
  .form-label-inline fieldset .row {
    .col-xs-3:first-child + .col-xs-6,
    .col-sm-3:first-child + .col-sm-6,
    .col-md-3:first-child + .col-md-6 {
      padding-right: 6px;
      padding-left: 6px;
    }
  }
}

@media (min-width: $screen-md) {
  .form-label-inline fieldset .row {
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-xs-8 + .col-xs-4:last-child,
    .col-sm-8 + .col-sm-4:last-child,
    .col-md-8 + .col-md-4:last-child,
    .col-xs-6:last-child,
    .col-sm-6:last-child,
    .col-md-6:last-child {
      padding-left: 6px;
    }
  }
}

@media (min-width: $screen-md) {
  .form-label-inline fieldset .row {
    .col-xs-8:first-child,
    .col-sm-8:first-child,
    .col-md-8:first-child,
    .col-xs-6:first-child,
    .col-sm-6:first-child,
    .col-md-6:first-child {
      padding-right: 6px;
    }
  }
}
