
.select2-container .form-label-inline .select2-choice {
  min-height: 56px;
}

.select2-container .form-label-inline .select2-choice > .select2-chosen {
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
  font-size: 18px;
  padding-bottom: 6px;
  padding-top: 23px;
  border-color: #caccd1;
  letter-spacing: -0.02em;
}

.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.select2-drop {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.select2-search {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.select2-container {
  .select2-choice {
    display: block;
    padding: 0 0 0 12px;
    overflow: hidden;
    position: relative;
    border: 1px solid #838994;
    white-space: nowrap;
    color: #4c5058;
    text-decoration: none;
    border-radius: 4px;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(0, 0, 0, 0);
  }
  &.select2-drop-above .select2-choice {
    border-bottom-color: #4c5058;
    border-radius: 0 0 4px 4px;
  }
  &.select2-allowclear .select2-choice .select2-chosen {
    margin-right: 42px;
  }
  .select2-choice {
    > .select2-chosen {
      margin-right: 26px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    abbr {
      display: none;
      width: 12px;
      height: 12px;
      position: absolute;
      right: 24px;
      top: 8px;
      font-size: 1px;
      text-decoration: none;
      border: 0;
      background: url(https://dy53q6sor7j4i.cloudfront.net/assets/select2-ea9bb5d5518ce389b0ea5cb9b5e49844.png) right top no-repeat;
      cursor: pointer;
      outline: 0;
    }
  }
  &.select2-allowclear .select2-choice abbr {
    display: inline-block;
  }
  .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
  }
}

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  background-color: white;
  filter: alpha(opacity=0);
}

.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: white;
  color: #4c5058;
  border: 1px solid #caccd1;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.select2-drop-auto-width {
  border-top: 1px solid #caccd1;
  width: auto;
  .select2-search {
    padding-top: 4px;
  }
}

.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #caccd1;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.select2-drop-active {
  border: 1px solid #838994;
  border-top: none;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #838994;
}

.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 6px;
  top: 0;
  background: rgba(0, 0, 0, 0);
  b {
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://dy53q6sor7j4i.cloudfront.net/assets/select2-ea9bb5d5518ce389b0ea5cb9b5e49844.png) no-repeat 0 16px;
  }
}

.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
  input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;
    outline: 0;
    font-family: sans-serif;
    font-size: 1em;
    border: 1px solid #aaaaaa;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: white url(https://dy53q6sor7j4i.cloudfront.net/assets/select2-ea9bb5d5518ce389b0ea5cb9b5e49844.png) no-repeat 100% -22px;
  }
}

.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px;
}

.select2-search input.select2-active {
  background: white url(https://dy53q6sor7j4i.cloudfront.net/assets/select2-spinner-3b6257539fe6b9dbb9481bea4afde8eb.gif) no-repeat 100%;
}

.select2-container-active {
  .select2-choice,
  .select2-choices {
    border: 1px solid #838994;
    outline: none;
  }
  + label {
    color: #f15a29;
  }
}

.select2-dropdown-open {
  .select2-choice {
    border-bottom-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
  }
  &.select2-drop-above {
    .select2-choice,
    .select2-choices {
      border: 1px solid #838994;
      border-top-color: transparent;
    }
  }
  .select2-choice .select2-arrow {
    background: transparent;
    border-left: none;
    filter: none;
    b {
      background-position: -18px 16px;
    }
  }
}

.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  ul.select2-result-sub {
    margin: 0;
    padding-left: 0;
    > li .select2-result-label {
      padding-left: 20px;
    }
    ul.select2-result-sub {
      > li .select2-result-label {
        padding-left: 40px;
      }
      ul.select2-result-sub {
        > li .select2-result-label {
          padding-left: 60px;
        }
        ul.select2-result-sub {
          > li .select2-result-label {
            padding-left: 80px;
          }
          ul.select2-result-sub {
            > li .select2-result-label {
              padding-left: 100px;
            }
            ul.select2-result-sub {
              > li .select2-result-label {
                padding-left: 110px;
              }
              ul.select2-result-sub > li .select2-result-label {
                padding-left: 120px;
              }
            }
          }
        }
      }
    }
  }
  li {
    list-style: none;
    display: list-item;
    background-image: none;
    &.select2-result-with-children > .select2-result-label {
      font-weight: bold;
    }
  }
  .select2-result-label {
    padding: 6px 8px;
    margin: 0;
    cursor: pointer;
    min-height: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .select2-highlighted {
    background: #60c3ad;
    color: white;
  }
  li em {
    background: #feffde;
    font-style: normal;
  }
  .select2-highlighted {
    em {
      background: transparent;
    }
    ul {
      background: white;
      color: #4c5058;
    }
  }
  .select2-no-results,
  .select2-searching,
  .select2-selection-limit {
    background: #caccd1;
    padding: 6px 8px;
    display: list-item;
  }
  .select2-disabled {
    background: #caccd1;
    display: list-item;
    cursor: default;
    &.select2-highlighted {
      color: #4c5058;
      background: #caccd1;
      display: list-item;
      cursor: default;
    }
  }
  .select2-selected {
    display: none;
  }
}

.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}

.select2-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
  &:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
  }
}

.select2-display-none {
  display: none;
}

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .select2-search input,
  .select2-search-choice-close {
    background-image: url(https://dy53q6sor7j4i.cloudfront.net/assets/select2x2-332ee03b3ac86b1dffd780eb69282f36.png) !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }
  .select2-container .select2-choice {
    abbr,
    .select2-arrow b {
      background-image: url(https://dy53q6sor7j4i.cloudfront.net/assets/select2x2-332ee03b3ac86b1dffd780eb69282f36.png) !important;
      background-repeat: no-repeat !important;
      background-size: 60px 40px !important;
    }
  }
  .select2-search input {
    background-position: 100% -21px !important;
  }
}

.form-control {
  .select2-choice {
    border: 0;
    border-radius: 3px;
    .select2-arrow {
      border-radius: 0 3px 3px 0;
    }
  }
  &.select2-container {
    height: auto !important;
    padding: 0px;
    &.select2-dropdown-open {
      border-color: #838994;
      border-radius: 4px 4px 0 0;
    }
  }
  .select2-container.select2-dropdown-open .select2-choices {
    border-radius: 4px 4px 0 0;
  }
  &.select2-container .select2-choices {
    border: 0 !important;
    border-radius: 4px;
  }
  &.select2-container-active {
    border-color: #838994;
  }
}

.control-group {
  &.warning {
    .select2-container {
      .select2-choice,
      .select2-choices {
        border: 1px solid #f0ad4e !important;
      }
    }
    .select2-container-active {
      .select2-choice,
      .select2-choices {
        border: 1px solid #f76a5b !important;
      }
    }
    .select2-dropdown-open.select2-drop-above {
      .select2-choice,
      .select2-choices {
        border: 1px solid #f0ad4e !important;
      }
    }
    .select2-container-multi.select2-container-active .select2-choices {
      border: 1px solid #f0ad4e !important;
    }
    .select2-container .select2-choice div {
      border-left: 1px solid #f0ad4e !important;
      background: white !important;
    }
  }
  &.error {
    .select2-container {
      .select2-choice,
      .select2-choices {
        border: 1px solid #f76a5b !important;
      }
    }
    .select2-container-active {
      .select2-choice,
      .select2-choices {
        border: 1px solid #f76a5b !important;
      }
    }
    .select2-dropdown-open.select2-drop-above {
      .select2-choice,
      .select2-choices {
        border: 1px solid #f76a5b !important;
      }
    }
    .select2-container-multi.select2-container-active .select2-choices {
      border: 1px solid #f76a5b !important;
    }
    .select2-container .select2-choice div {
      border-left: 1px solid #f76a5b !important;
      background: white !important;
    }
  }
  &.info {
    .select2-container {
      .select2-choice,
      .select2-choices {
        border: 1px solid #5bc0de !important;
      }
    }
    .select2-container-active {
      .select2-choice,
      .select2-choices {
        border: 1px solid #5bc0de !important;
      }
    }
    .select2-dropdown-open.select2-drop-above {
      .select2-choice,
      .select2-choices {
        border: 1px solid #5bc0de !important;
      }
    }
    .select2-container-multi.select2-container-active .select2-choices {
      border: 1px solid #5bc0de !important;
    }
    .select2-container .select2-choice div {
      border-left: 1px solid #5bc0de !important;
      background: white !important;
    }
  }
  &.success {
    .select2-container {
      .select2-choice,
      .select2-choices {
        border: 1px solid #60c3ad !important;
      }
    }
    .select2-container-active {
      .select2-choice,
      .select2-choices {
        border: 1px solid #60c3ad !important;
      }
    }
    .select2-dropdown-open.select2-drop-above {
      .select2-choice,
      .select2-choices {
        border: 1px solid #60c3ad !important;
      }
    }
    .select2-container-multi.select2-container-active .select2-choices {
      border: 1px solid #60c3ad !important;
    }
    .select2-container .select2-choice div {
      border-left: 1px solid #60c3ad !important;
      background: white !important;
    }
  }
}
